
.user{
    width: 53px;
    height: 53px;
    top: 105px;
    left: 1000px;
    position: absolute;

}
.username{
    color: rgba(31, 31, 31, 0.822);
    font-size: 12px;
    font-family: Helvetica;
    position: absolute;
    top: 110px;
    left: 1065px;

}
.username2{
    color: rgba(31, 31, 31, 0.226);
    font-size: 12px;
    font-family: Helvetica;
    position: absolute;
    top: 128px;
    left: 1065px;

}
.cuenta{
    color: rgb(4, 175, 255);
    font-size: 12px;
    font-family: Helvetica;
    position: absolute;
    top: 120px;
    left: 1300px;

}
.sug{
    color: rgba(31, 31, 31, 0.432);
    font-size: 14px;
    font-family: Helvetica;
    position: absolute;
    top: 170px;
    left: 1000px;

}
.vt{
    color: rgba(31, 31, 31, 0.877);
    font-size: 11px;
    font-family: Helvetica;
    position: absolute;
    top: 178px;
    left: 1300px;

}
.seguir{
    color: rgb(4, 175, 255);
    font-size: 12px;
    font-family: Helvetica;
    position: absolute;
    top: 220px;
    left: 1310px;

}

.fotop{
    border-radius: 100%;
    width: 33px;
    height: 33px;
    position: absolute;
    top: 223px;
    left: 1000px;    
    
}
.name{
    color: rgba(31, 31, 31, 0.822);
    font-size: 12px;
    font-family: Helvetica;
    position: absolute;
    top: 217px;
    left: 1045px;
    
}
.stat{
    color: rgba(31, 31, 31, 0.226);
    font-size: 11px;
    font-family: Helvetica;
    position: absolute;
    top: 235px;
    left: 1045px
    
}
